<section class="section hero is-fullheight is-white">
    <div class="hero-body">
        <div class="container">
            <header class="has-text-centered">
                <div class="columns">
                    <div class="column is-3 is-offset-3"
                         id="introArea">
                        <h4 class="fa-7x fas fa-code has-text-primary"></h4>
                        <br>
                        <br>
                        <h3 class="title is-3"
                            id="introTitle">
                            Some intro text
                        </h3>
                        <h4 class="subtitle is-4"
                            id="introSubtitle">
                            Intro subtext
                        </h4>
                    </div>
                    <div class="column is-3">
                        <br>
                        <form [formGroup]="form">
                            <div class="field">
                                <p class="control has-icons-left has-icons-right">
                                    <input class="input"
                                           id="usernameInput"
                                           data-cy="email"
                                           type="email"
                                           [class.is-danger]="username.touched && username.dirty && username.invalid"
                                           [class.is-success]="username.touched && username.dirty && username.valid"
                                           #emailInput
                                           placeholder="Email address"
                                           formControlName="username"
                                           name="username">
                                    <span class="icon is-small is-left">
                                      <i class="fas fa-envelope"></i>
                                    </span>
                                    <span *ngIf="username.touched && username.dirty"
                                          id="usernameStateIcon"
                                          data-cy="usernameStateIcon"
                                          class="icon is-small is-right">
                                        <i *ngIf="username.invalid"
                                           id="usernameStateErrorIcon"
                                           data-cy="usernameStateErrorIcon"
                                           class="fas fa-exclamation-triangle"></i>
                                        <i *ngIf="username.valid"
                                           class="fas fa-check"
                                           id="usernameStateSuccessIcon"
                                           data-cy="usernameStateSuccessIcon"
                                        ></i>
                                    </span>
                                </p>
                                <ng-container *ngIf="username.invalid && username.dirty && username.touched">
                                    <p *ngIf="!!username.errors.email"
                                       data-cy="validationMessageEmailInvalid"
                                       id="validationMessageEmailInvalid"
                                       class="help is-danger has-text-left">
                                        This email is invalid
                                    </p>
                                    <p *ngIf="!!username.errors.required"
                                       id="validatioMessageEmailRequired"
                                       data-cy="validatioMessageEmailRequired"
                                       class="help is-danger has-text-left">
                                        This field is required
                                    </p>
                                </ng-container>
                            </div>
                            <div class="field">
                                <p class="control has-icons-left has-icons-right">
                                    <input class="input"
                                           data-cy="password"
                                           id="passwordInput"
                                           formControlName="password"
                                           type="password"
                                           name="password"
                                           [class.is-danger]="password.touched && password.dirty && password.invalid"
                                           [class.is-success]="password.touched && password.dirty && password.valid"
                                           placeholder="Password">
                                    <span class="icon is-small is-left">
                                      <i class="fas fa-lock"></i>
                                    </span>
                                    <span *ngIf="password.touched && password.dirty"
                                          id="passwordStateIcon"
                                          data-cy="passwordStateIcon"
                                          class="icon is-small is-right">
                                        <i *ngIf="password.invalid"
                                           id="passwordStateIconPasswordInvalid"
                                           data-cy="passwordStateIconPasswordInvalid"
                                           class="fas fa-exclamation-triangle"></i>
                                        <i *ngIf="password.valid"
                                           id="passwordStateIconPasswordValid"
                                           class="fas fa-check"></i>
                                    </span>
                                </p>
                                <ng-container *ngIf="password.invalid && password.dirty && password.touched">
                                    <p *ngIf="!!password.errors.minlength"
                                       id="validationMessagePasswordTooShort"
                                       data-cy="validationMessagePasswordTooShort"
                                       class="help is-danger has-text-left">
                                        Please enter min. 8 characters
                                    </p>
                                    <p *ngIf="!!password.errors.required"
                                       id="validationMessagePasswordRequired"
                                       data-cy="validationMessagePasswordRequired"
                                       class="help is-danger has-text-left">
                                        This field is required
                                    </p>
                                </ng-container>
                            </div>
                            <div class="field">
                                <div class="columns">
                                    <div class="column has-text-left">
                                        <p class="help">
                                            <label class="checkbox">
                                                <input type="checkbox"
                                                       id="rememberMeCheckbox"
                                                       data-cy="rememberMeCheckbox">
                                                Remember me
                                            </label>
                                        </p>
                                    </div>
                                    <div class="column has-text-right">
                                        <p class="help">
                                            <a href="#"
                                               id="forgotPasswordLink"
                                               data-cy="forgotPasswordLink">I forgot my
                                                                            password</a>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <button [disabled]="form.invalid"
                                    class="button is-fullwidth is-primary"
                                    id="loginButton"
                                    data-cy="loginButton">Login
                            </button>
                        </form>
                        <section id="socialLogin"
                                 data-cy="socialLogin"
                                 *ngIf="!!socialLoginEnabled">
                            <div class="is-divider"
                                 data-content="OR"></div>
                            <div class="field">
                                <button class="button is-danger is-fullwidth"
                                        id="loginWithGoogleButton"
                                        data-cy="loginWithGoogleButton">
                                <span class="icon">
                                    <i class="fab fa-google"></i>
                                </span>
                                    <span>Login with Google</span>
                                </button>
                            </div>
                            <div class="field">
                                <button id="loginWithFacebookButton"
                                        data-cy="loginWithFacebookButton"
                                        class="button is-info is-fullwidth">
                                <span class="icon">
                                    <i class="fab fa-facebook-f"></i>
                                </span>
                                    <span>Login with Facebook</span>
                                </button>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="column is-6 is-offset-3">
                    <div class="is-divider"></div>
                    <p>Don't have an account yet?</p>
                    <br>
                    <a class="button"
                       id="registerLink"
                       data-cy="registerLink"
                       [routerLink]="['/register']">Register</a>
                </div>
            </header>
        </div>
    </div>
    <div class="hero-foot"
         id="footer">
        <div class="container">
            <div class="tabs is-centered">
                <ul>
                    <li><a>Footer link 1</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
